* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1900px;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}
body {
  background-image: url("../assets/images/backgroung.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  color: white;
  text-shadow: 3px 3px black;
  margin-top: 0px;
  margin-left: 0px;
  font-family: monospace;
  font-size: 30px;
  line-height: 0.2;
}
.logo img {
  position: fixed;
  float: left;
  width: 300px;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
}
.mid_body {
  position: fixed;
  top: 46%;
  right: 46%;
  margin: auto;
  margin-bottom: 300px;
  text-align: center;
  font-family: monospace;
}
.mid_body a {
  outline: solid;
  outline-color: black;
  outline-width: 5px;
  border-radius: 50px;
  padding: 30px;
  font-family: monospace;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  color: black;
  background-color: white;
}
.mid_body a:hover{
    outline-color: white;
    background-color: black;
    color: white;
}
.nav_area {
  float: right;
  list-style: none;
  margin-top: 50px;
  padding-right: 20px;
}
.nav_area li {
  display: inline-block;
}
.nav_area li a {
  color: black;
  padding: 5px 20px;
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
}
.nav_area li a:hover {
  border-radius: 50px;
  background: black;
  color: white;
}
.lower_body {
    position: fixed;
    top: 95%;
    left: 0%;
  background-color: black;
  background-size: cover;
  width: 1920px;
  height: 50px;
  margin: auto;

  margin-bottom: 0px;
  color: white;
  text-align: center;
}
.para2 {
  font-family: monospace;
  margin: auto;
  padding-top: 20px;
}
