* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1900px;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}
body {
  background-image: url("./assets/images/backgroung.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  color: white;
  text-shadow: 3px 3px black;
  margin-top: 0px;
  margin-left: 0px;
  font-family: monospace;
  font-size: 30px;
  line-height: 0.2;
}
.logo img {
  float: left;
  width: 300px;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
}
.mid {
  margin-top: 0px;
  margin-bottom: 200px;
}
.mid img {
  float: left;
  width: 300px;
  height: auto;
  margin-left: 42%;
}
.head1 {
  text-align: center;
  font-size: 35px;
  color: black;
}
.para1 {
  box-shadow: 0 10px 10px 0 rgba(0, 255, 0, 1), 0 10px 10px 0 rgba(0, 255, 0, 1);
  border-radius: 50px;
  outline: solid;
  outline-color: black;
  outline-width: 5px;
  background: white;
  width: 40%;
  height: 10%;
  padding: 40px;
  margin: auto;
  margin-top: 300px;
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px greenyellow;
}
.nav_area {
  float: right;
  list-style: none;
  margin-top: 50px;
  padding-right: 20px;
}
.nav_area li {
  display: inline-block;
}
.nav_area li a {
  color: black;
  padding: 5px 20px;
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
}
.nav_area li a:hover {
  border-radius: 50px;
  background: black;
  color: white;
}
.lower_body {
  background-color: black;
  background-size: cover;
  width: 1903px;
  height: 50px;
  margin-top: 300px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
}
.para2 {
  font-family: monospace;
  padding-top: 20px;
}
